<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" processIsolation="false" stopOnFailure="false" bootstrap="../../config/bootstrap.php" backupGlobals="true">
  <testsuites>
    <testsuite name="Multi-tenant Test Suite">
      <directory>./tests/TestCase/</directory>
    </testsuite>
  </testsuites>
  <php>
    <const name="PHPUNIT" value="true"/>
    <env name="ORIGIN_ENV" value="test"/>
  </php>
  <listeners>
    <listener class="Origin\TestSuite\OriginTestListener"  file ="./vendor/originphp/test-suite/OriginTestListener.php"></listener>
  </listeners>
  <filter>
    <whitelist>
      <directory suffix=".php">./src/</directory>
    </whitelist>
  </filter>
</phpunit>